<ion-header [translucent]="true" class="encabezado">
  <ion-toolbar>
    <ion-title> Gestor de Tareas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-select [(ngModel)]="selectedStatus">
    <ion-select-option value="pendiente">Pendiente</ion-select-option>
    <ion-select-option value="en_proceso">En proceso</ion-select-option>
    <ion-select-option value="completada">Completada</ion-select-option>
  </ion-select>

  <ion-item class="cabezaLista">
    <ion-input [(ngModel)]="newTaskTitle" placeholder="Nueva tarea"></ion-input>
    <input type="file" (change)="onFileSelected($event)" />
    <ion-button (click)="addTask()">Añadir</ion-button>
  </ion-item>

  <ion-button
    size="small"
    class="boton_eliminar"
    *ngIf="rol === 'administrador'"
    (click)="deleteAllTasks()"
  >
    borrar todo
  </ion-button>
  <ion-button size="small" *ngIf="rol === 'administrador'" (click)="goToTags()">
    Menu de Tags
  </ion-button>

  <ion-item>
    <ion-textarea
      [(ngModel)]="filterTagSearch"
      (ionInput)="filterTagsGlobal()"
      placeholder="Filtrar por tags..."
    ></ion-textarea>
  </ion-item>

  <div class="tags-container">
    <ion-chip *ngFor="let tag of filterSelectedTags">
      <ion-label>{{ tag.name }}</ion-label>
      <ion-icon name="close" (click)="removeFilterTag(tag)"></ion-icon>
    </ion-chip>
  </div>

  <ion-list *ngIf="filterFilteredTags.length > 0">
    <ion-item
      *ngFor="let tag of filterFilteredTags"
      (click)="selectFilterTag(tag)"
    >
      {{ tag.name }}
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let task of filteredTasks" class="task-card">
    <ion-card-header (click)="task.expanded = !task.expanded">
      <ion-card-title> {{ task.title }} </ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="task.expanded">
      <ion-item lines="none">
        <ion-checkbox
          slot="start"
          (ionChange)="toggleTask(task)"
        ></ion-checkbox>

        <ion-label> Estado </ion-label>
        <div class="centrado">
          <img
            *ngIf="task.image"
            [src]="'http://localhost:5000/uploads/' + task.image"
            class="task-image"
          />
        </div>

        <ion-button
          fill="clear"
          color="danger"
          slot="end"
          (click)="deleteTask(task); $event.stopPropagation()"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-textarea
          [(ngModel)]="task.tagSearch"
          (ionInput)="filterTags(task)"
          (click)="$event.stopPropagation()"
          (click)="$event.stopPropagation()"
        ></ion-textarea>
      </ion-item>

      <div class="tags-container">
        <ion-chip *ngFor="let tag of task.selectedTags">
          <ion-label>{{ tag.name }}</ion-label>
          <ion-icon
            name="close"
            (click)="removeSelectedTag(task, tag); $event.stopPropagation()"
          ></ion-icon>
        </ion-chip>
      </div>
      <ion-list *ngIf="task.filteredTags?.length > 0">
        <ion-item
          *ngFor="let tag of task.filteredTags"
          (click)="selectTag(task, tag); $event.stopPropagation()"
        >
          {{ tag.name }}
        </ion-item>
      </ion-list>

      <ion-button expand="full" (click)="saveTags(task)">
        Guardar tags
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-header class="barraTareas">
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
