<ion-content class="ion-padding">
  <div class="header">
    <h1>Task Manager</h1>
    <ion-img src="assets/images/engranaje.png"></ion-img>
  </div>
  <p class="subtitulo">Organiza tus tareas fácilmente</p>

  <div class="caja-login">
    <div class="input-group">
      <ion-icon name="person-outline"></ion-icon>
      <ion-input [(ngModel)]="username" placeholder="Usuario"></ion-input>
    </div>

    <div class="input-group">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input
        [(ngModel)]="password"
        type="password"
        placeholder="Contraseña"
      ></ion-input>
    </div>

    <div class="botones">
      <ion-button (click)="login()">Ingresar</ion-button>
      <ion-button (click)="goToRegistro()">Registrarse</ion-button>
    </div>
  </div>
</ion-content>
