<ion-content class="ion-padding">
  <ion-title> Task Manager </ion-title>
  <div class="caja-login">
    <ion-item>
      <ion-img src="assets/images/user.png"></ion-img>
      <ion-label>Usuario:</ion-label>
    </ion-item>

    <ion-input [(ngModel)]="username"></ion-input>
    <ion-item>
      <ion-img src="assets/images/password.png"></ion-img>
      <ion-label>Contraseña:</ion-label>
    </ion-item>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </div>

  <div class="botones">
    <ion-button (click)="login()">Ingresar</ion-button>
    <ion-button (click)="goToRegistro()">Registrarse</ion-button>
  </div>
</ion-content>
